.main {
  width: 95%;
  height: 58%;
  // margin: auto;
  margin-top: 60px;
  margin-left: 10px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
}

.item {
  width: 110px;
  padding: 35px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #e3e3e3;
}

.row {
  display: flex;
  flex-grow: 1;
}
