.main {
  // display: flex;
  // flex-wrap: wrap;
  width: 95%;
  height: 65%;
  margin: auto;
  margin-top: 60px;
  margin-left: 25px;
}

.item {
  background-color: #fff;
  // flex-grow: 1;
  width: 110px;
  padding: 30px;
  text-align: center;
  border: 1px solid #e3e3e3;
}

.row {
  display: flex;
}
